<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jodadavelha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JogoDaVelha">
        <activity
            android:name="com.example.jodadavelha.online2playersClasses.Option2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.jodadavelha.online2playersClasses.CreateRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.jodadavelha.online2playersClasses.ChooseRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.jodadavelha.online2playersClasses.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.jodadavelha.offline2playersClasses.InputNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.jodadavelha.offline2playersClasses.Option1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.jodadavelha.OptionalFirstActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>